# MongoDB Atlas connection string
# Format: mongodb+srv://username:password@clustername.mongodb.net/dbname
MONGODB_URI=<add-your-mongodb-uri-here>
TEST_MONGODB_URI=<add-your-test-mongodb-uri-here>

# Server port
PORT=3003

# JWT secret key for token signing
SECRET=<add-your-jwt-secret-here>
